# macOS
.DS_Store

# Sublime text
.sublimelinterrc

# Python
*.pyc
__pycache__

# Python package
dist/
*.egg-info
build/

# Sublime text
*.sublime-project
*.sublime-workspace

# Generated
README.rst
*.log

# Visual Studio Code
.vscode
*.code-workspace

# Mypy
.mypy_cache
